{% extends "layout.html" %}
{% block content %}
{% for query in queries %}
<h2>{{query.name}}</h2>
<p>{{query.country}}, {{query.city}}</p>
<p><b>Начало</b>:{{query.start.strftime("%d.%m.%Y")}} <br />
    <b>Конец</b>:{{query.end.strftime("%d.%m.%Y")}}
</p>
<form action="" method="post">
    <button type="submit" value="{{query.id}}" name="update">Изменить</button>
    <button type="submit" value="{{query.id}}" name="delete">Удалить</button>
</form>
<hr />
{% endfor %}
<a href="{{url_for('add_festival')}}">Добавить информацию+</a>
<a href="{{url_for('register')}}">Регистрация</a>
<a href="{{url_for('login')}}">Войти</a>
{%endblock content%}