{% extends "layout.html"%}

{% block content%}
<form method="POST">
    {{form.hidden_tag()}}
    <fieldset>
        <legend>Войти</legend>
        <p>{{form.email.label()}}: {{form.email()}}</p>
        {% if form.email.errors %}
        {% for error in form.email.errors%}
        <p>{{error}}</p>
        {% endfor %}
        {% endif %}
        <p>{{form.password.label()}}: {{form.password()}}</p>
        {% if form.password.errors %}
        {% for error in form.password.errors%}
        <p>{{error}}</p>
        {% endfor %}
        {% endif %}
        <p>{{form.remember.label()}}: {{form.remember()}}</p>
        {{form.submit()}}
        <br />
        <a href="{{url_for('register')}}"><small>Регистрация</small></a>
    </fieldset>
</form>
<a href="{{url_for('home')}}">На Главную</a>
{% endblock content%}