{% extends "layout.html"%}
{% block content %}
<form method="post">
    {{form.hidden_tag()}}
    <fieldset>
        <legend>{{flag}}</legend>
        <p>{{form.name.label}}: {{form.name()}}</p>
        {% if form.name.errors %}
        {% for error in form.name.errors%}
        <p>error</p>
        {% endfor %}
        {% endif %}


        <p>{{form.country.label}}: {{form.country()}}</p>

        {% if form.country.errors %}
        {% for error in form.country.errors%}
        <p>error</p>
        {% endfor %}
        {% endif %}


        <p>{{form.city.label}}: {{form.city()}}</p>

        {% if form.city.errors %}
        {% for error in form.city.errors%}
        <p>error</p>
        {% endfor %}
        {% endif %}


        <p>{{form.start.label}}: {{form.start()}}</p>

        {% if form.start.errors %}
        {% for error in form.start.errors%}
        <p>error</p>
        {% endfor %}
        {% endif %}

        <p>{{form.end.label}}: {{form.end()}}</p>

        {% if form.end.errors %}
        {% for error in form.end.errors%}
        <p>error</p>
        {% endfor %}
        {% endif %}
        <p>{{form.submit()}}</p>
    </fieldset>
</form>
{% endblock content %}